<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE-edge" >
  <meta name="viewport" content="width=device-width, initial-scale=1.0" >
  <title>Katalog Restaurant</title>
</head>

<body>
  <div class="container">
    <nav class="nav">
      <div class= "nav-brand-mobile">
        <h1>Katalog Restaurant</h1>
      </div>
      <a href="#content" class="skip-link">Skip To Content</a>

      <div class="nav-brand">

    </div>
    <button id="tombolmenu" class="tombolmenu">Menu</button>
    <ul class="nav-list">
      <li class="nav-item"><a href="/">Home</a></li>
      <li class="nav-item"><a href="#">Like</a></li>
    </ul>
    </nav>
  </div>

  <header class="header">
    <div class="header-inner">
      <h1 tabindex="0">Katalog Restaurant</h1>
      <h3 tabindex="0">Hello</h3>
      <p tabindex="0">Breakfast - Lunch - Dinner</p>
    </div>
  </header>

  <main>
    <div class="banner">
      <img src="/images/heros/hero-image_4.jpg" alt="banner" />
    </div>

    <div id="content">
    <div class="card-container"></div>
      </div>
  </main>
  <footer>
    <p>@ 2023 by Richard Ivan, Dicoding Academy</p>
  </footer>
  </body>
  </html>
